.available_doctors{
 color:khaki;
 background-color:#111430;
 border-radius: 10px;
 width:100%;
 transition:.5s;
 cursor:pointer;
 /* width: max-content; */
 margin:0 auto;
 box-sizing: border-box;
 height:120px;
 padding:10px;
}

.available_doctors:hover{
 box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.36);
 transition:.5s
}

.available_doctors img{
 border-radius: 20%;
 border:3px solid white;
 /* padding:0 10px 0 0; */
}

.available_doctors .doctor_info{
 padding:0 0 0 10px;
 line-height: 20px;
}

.doctors_wrapper{
 max-height:80vh;
 overflow: scroll;
 transition:.5s;
 /* background: #FF6F61; */
 border-radius:5px;
}
.doctors_wrapper:hover{
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 transition:.5s;
}
