.my_form{
 background-image:url("../../../images/contact/background_contact.png");
 height:auto;
 padding:20px 100px 10px 200px;
 background-size: cover; 
}

@media (max-width: 767px) {
 .contact_left{
  display:none;
 }
 .my_form{
  padding:10px 20px;
  clip-path:none;
 }
}
